<Project>
	<name xml:lang="en">xfce4-generic-slider</name>
	<shortdesc xml:lang="en">Passes a value to a commnad</shortdesc>
	<homepage rdf:resource="http://goodies.xfce.org/projects/panel-plugins/xfce4-generic-slider"/>
	<mailing-list rdf:resource="http://foo-projects.org/mailman/listinfo/xfce"/>
	<maintainer>
		<foaf:Person>
			<foaf:name>Connor Behan</foaf:name>
			<foaf:mbox>mailto:connor.behan@gmail.com</foaf:mbox>
		</foaf:Person>
	</maintainer>
</Project>
